
<div class="alert alert-warning" role="alert" *ngFor="let item of items" role="alert">
    {{item.name}} - {{item.id}}
    <div class="float-right"
        (click)="eliminar(item)" type="button">
        <i class="far fa-trash-alt"></i>
    </div>
    <div class="float-right mx-3"
        (click)="open(content,item)"
        data-toggle="modal" 
        data-target="#exampleModal"
        type="button">
        <i class="fas fa-pencil-alt"></i>
    </div>    
</div>

<!-- Modal  -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar tarea</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <input 
            type="text" 
            placeholder="Ingresa la tarea" 
            name="name" 
            class="form-control"
            [(ngModel)]="editarItem.name"
            >
      </form>
      
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-warning" (click)="agregarItemEditado()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar Update')">Cancelar</button>
    </div>
  </ng-template>
  
  <pre>{{ closeResult }}</pre>